/* smartphone and pc navbar */
/* smartphone */
@media screen and (max-width: 800px) {
    #navbar_pc {
        visibility: hidden;
        height: 0;
    }

    .imgsmart {
        min-height: 100vh;
        width: 100%;
    }

    .imgpc {
        visibility: hidden;
        height: 0;
    }

    .get_the_app{
        height: 0;
        margin-top: 135px;
    }

    .get_the_app_wave{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .get_the_app_footer{
        width: 100%;
        margin-top: 40px;
    }
}

/* pc */
@media screen and (min-width: 800px) {
    #navbar_smartphone {
        visibility: hidden;
        height: 0;
    }

    .imgpc {
        width: 100%;
        height: 100vh;
    }

    .imgsmart {
        visibility: hidden;
        height: 0;
    }

    .get_the_app{
        height: 0;
        margin-top: 250px;
    }
    .get_the_app_wave{
        margin-top: 100px;
    }

    .get_the_app_footer{
        height: 50px;
    }
}

.backgroung_image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.lien {
    color: white;
    font-size: 18px;
}

.lien:hover {
    text-decoration: none !important;
    color: #FF3465;
    font-size: 18px;
}

p, h1, h2, h3, h4, h5,  h6, span, a{
    font-family: 'Noto Sans', sans-serif;
}

.wave_link {
    position: relative;
    display: block;
    padding: 10px 30px;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.wave_link:hover {
    text-decoration: none;
    color: black;
}

.wave_link span {
    position: relative;
    z-index: 1;
    transition: 1s;
}

.wave {
    position: absolute;
    top: calc(100% + 21px);
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1s;
}

.wave:before {
    content: '';
    position: absolute;
    top: -21px;
    left: 0;
    width: 100%;
    height: 21px;
    background: url("images/white_wave.png");
    animation: animate 0.5s linear infinite;
}

.wave_link:hover .wave{
    top: 0;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 118px;
    }
}